title/twitterauth.py
excerpt/twitterauth.py
title/twitterauth.py
title/history_q.txt
title/bghistory_q.txt
excerpt/history_q.txt
title/tweettxt_history_q.txt
title/_pycache_/
excerpt/_pycache_/
excerpt/twitterauth.py
*.pyc
*.bak
workspace_bot3
title/bghistory_q.txt
title/reply_ids.txt
title/fav_titles.txt
title/fav_titles_back.txt
title/reply_ids.txt
title/new bg images/pic.jpg
title/new bg images/Romance.jpg
title/new bg images/Secret-Fire-by-Johanna-Lindsey-560x800.jpg
title/new bg images/swooning by a stream.jpg
title/new bg images/swooning in a tree.jpg
title/new bg images/swooning under the covers.jpg
title/new bg images/TadellioRomance3ForNet.jpg
title/new bg images/Tomasz Rut 1961 - Polish Figurative painter - Tutt'Art@ (22).jpg
title/new bg images/zhivopis-risunok.jpg
title/new bg images/1 (2).jpg
title/new bg images/1435269995_43-www.radionetplus.ru.jpg
title/new bg images/1435270014_28-www.radionetplus.ru.jpg
title/new bg images/1880958_1.jpg
title/new bg images/19126549.jpg
title/new bg images/199838.jpg
title/new bg images/19aab3562578595701a90058788d24a3.jpg
title/new bg images/2132390.jpg
title/new bg images/2199_4.jpg
title/new bg images/2406397538.jpg
title/new bg images/26174948.jpg
title/new bg images/2858_4.jpg
title/new bg images/2b441ba849b9984dd099ccd3bfaf02b7.jpg
title/new bg images/30279.jpg
title/new bg images/318b6e59ec00cc2d5e372b7a114c2aad.jpg
title/new bg images/3522_4.jpg
title/new bg images/3529_3.jpg
title/new bg images/39838.jpg
title/new bg images/39eb87a8694f41ba1c1889fcd5138c1f--romance-art-romance-novels.jpg
title/new bg images/3d2a5c96b136f2d8314c23b25527081e.jpg
title/new bg images/41.jpg
title/new bg images/526459.jpg
title/new bg images/555269.jpg
title/new bg images/676934.jpg
title/new bg images/6bcf0293eddb6d3216fd3366a5481fa7.jpg
title/new bg images/7149_4.jpg
title/new bg images/73328-large_default.jpg
title/new bg images/7336-min.jpg
title/new bg images/9ej8cb45ln8o51pkeo8r1jbcs24fc38e1b6e21f.jpg
title/new bg images/9lnygkslsylf8ncnptfo2auwp.jpg
title/new bg images/a2c5f443e543b193af704c405eac9c01.jpg
title/new bg images/a3abe1d3.jpg
title/new bg images/adf6f2aecb134237ff60bc277e71ac3b.jpg
title/new bg images/B_iBAUcW8AAS7Jb.jpg large.jpg
title/new bg images/c1572c59821062c96d0fc33ad32a2983_XL.jpg
title/new bg images/dm04e464uun5ec43e18en7n0n5468cdl.jpg
title/new bg images/e89f1ec0b7ec393a4071616458118bdf.jpg
title/new bg images/Ed_Tadiello_25.jpg
title/new bg images/f687352bfcf3d31431470cf9cabd1df2.jpg
title/new bg images/fad72d5718f063badc11c1fc4f18ba16.jpg
title/new bg images/FoqyEXQ.jpg
title/new bg images/GZ871-1000x1200.jpg
title/new bg images/Kare-DIY-Elmas-Boyama-Dikiş-Nakış-Elmas-lover-Kristal-Rhinestone-Oya-Mozaik-Ev-Dekor-resim-rhinestones.jpg
title/new bg images/kazan.jpg
title/new bg images/LI-LOYE-Diamond-Embroidery-Passionate-lovers-Home-Decor-Needlework-DIY-Diamond-Painting-Cross-Stitch-5D-Full.jpg
title/new bg images/maxresdefault.jpg
title/new bg images/modern romance cover 1.jpg
title/new bg images/modern romance cover 2.jpg
title/new bg images/modern romance cover 3.jpg
title/new bg images/petalsinthestorm.jpg
title/new bg images/ЛЮБОВЬ.jpg
title/new bg images/aquamarine gown OG borders.jpg
title/new bg images/aquamarine gown tall cropped.jpg
title/new bg images/beach swordsman og tall.jpg
title/new bg images/blonde fabio OG vignette.jpg
title/new bg images/blue leg OG tall.jpg
title/new bg images/blue princess OG tall.jpg
title/new bg images/both topless OG tall.jpg
title/new bg images/castle cleavage cropped.jpg
title/new bg images/castle cleavage OG tall.jpg
title/new bg images/cop a feel OG square.jpg
title/new bg images/crotch level OG wide.jpg
title/new bg images/dark swoon OG tall watermarked.jpg
title/new bg images/dark swoon tall.jpg
title/new bg images/embrace OG vignette.jpg
title/new bg images/far off city OG borders.jpg
title/new bg images/far off city tall cropped.jpg
title/new bg images/feel my nips OG tall.jpg
title/new bg images/fire and suit OG tall.jpg
title/new bg images/fire at sunset OG tall.jpg
title/new bg images/fire at sunset tall cropped.jpg
title/new bg images/flowery field OG borders.jpg
title/new bg images/flowery field tall cropped.jpg
title/new bg images/fountain OG wide.jpg
title/new bg images/getting naked OG borders.jpg
title/new bg images/getting naked tall cropped.jpg
title/new bg images/hay and thunder OG tall.jpg
title/new bg images/hay and thunder tall.jpg
title/new bg images/indian lover OG tall.jpg
title/new bg images/kneeling naked kiss OG vignette.jpg
title/new bg images/lots of red hair OG tall.jpg
title/new bg images/modern romance bathroom OG borders.jpg
title/new bg images/modern romance bathroom OG tall 2.jpg
title/new bg images/modern romance bathroom OG tall.jpg
title/new bg images/modern romance bathroom tall cropped.jpg
title/new bg images/modern romance beach OG vignette.jpg
title/new bg images/modern romance car fire OG borders.jpg
title/new bg images/modern romance car fire tall cropped.jpg
title/new bg images/modern romance OG square.jpg
title/new bg images/modern romance robe OG vignette.jpg
title/new bg images/modern romance sax OG tall.jpg
title/new bg images/modern romance trenchcoat OG wide.jpg
title/new bg images/naked fabio OG other weird shit.jpg
title/new bg images/naked fabio tall cropped.jpg
title/new bg images/naked kiss OG vignette.jpg
title/new bg images/nude butterflies OG square.jpg
title/new bg images/one-piece blue nightie OG vignette.jpg
title/new bg images/one-piece suit OG wide.jpg
title/new bg images/open vest swordsman OG tall.jpg
title/new bg images/pirate love OG tall.jpg
title/new bg images/rainbow knife OG tall.jpg
title/new bg images/red loincloth OG tall watermarked.jpg
title/new bg images/red loincloth tall.jpg
title/new bg images/see thru negligee OG tall.jpg
title/new bg images/shirtless flowers OG border.jpg
title/new bg images/shirtless flowers tall.jpg
title/new bg images/smell her neck OG tall.jpg
title/new bg images/smell my breath OG tall.jpg
title/new bg images/square cleavage OG borders.jpg
title/new bg images/square cleavage tall cropped.jpg
title/new bg images/swooning by a stream OG wide.jpg
title/new bg images/swooning in a tree OG wide borders.jpg
title/new bg images/swooning in a tree square cropped.jpg
title/new bg images/swooning kilt OG tall.jpg
title/new bg images/swooning under the covers cropped.jpg
title/new bg images/swooning under the covers OG borders.jpg
title/new bg images/taking her top off OG tall.jpg
title/new bg images/toga bed OG vignette.jpg
title/new bg images/vampire castle OG tall.jpg
title/new bg images/wave incoming OG borders.jpg
title/new bg images/wave incoming tall cropped.jpg
title/new bg images/wet love OG borders.jpg
title/new bg images/wet love OG square.jpg
title/new bg images/wet love OG tall watermark.jpg
title/new bg images/wet love OG wide with ship.jpg
title/new bg images/wet love tall cropped.jpg
title/new bg images/wet love with ship wide cropped.jpg
title/new bg images/white flowers OG borders.jpg
title/new bg images/white flowers tall cropped.jpg
title/new bg images/windswept OG wide.jpg
title/new bg images/woods in just a shirt OG wide.jpg
title/new bg images/top down OG tall.jpg
title/fav_titles_old.txt
/testimages
/.vs/bot3/v16/.suo
/.vs/VSWorkspaceState.json
/bot3.pyproj
/bot3.pyproj.user
/bot3.sln
/praw.ini
/upgradelog.htm
/upgradelog2.htm
/upgradelog3.htm
/upgradelog4.htm
/upgradelog5.htm
